.contenedor_universal{
    margin-top: 15vh;  /* importante !!!!!!*/
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}

/* --------------------------------------------------------- */

.contenedor_cuadros{
    width: 70%;
    height: 50vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    transition: height 0.5s;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000 !important;
}

.contenedor_cuadros:first-child{
    border: 3px solid #000;
    border-radius: 15px 15px 0 0;
}

.contenedor_cuadros:last-child{
    border-bottom: 3px solid #000;
    border-radius: 0 0 15px 15px;
}

.contenedor_cuadros:first-child .titulo_campo{
    border-radius: 15px 15px 0 0;
}

.contenedor_cuadros:last-child .contenedor_botones{
    border-radius: 0 0 15px 15px;
}

/* --------------------------------------------------------- */

.contenedor_botones {
    background-color: #D3D3D3;
    height: 90%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.contenedor_botones > div{
    width: 30vw;
    margin-top: 2vh;
}

/* --------------------------------------------------------- */

.nombre_materia {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtrar_materia {
    width: 30vw;
    border-radius: 10px 10px 0 0;
    padding-left: 1vw;
    border: 1px solid #000;
    margin-bottom: -2vh;
    background-color: #fff;
}

.contenedor_materias {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    overflow-y: scroll;
    height: 20vh;
    background-color: #fff;
    padding-left: 1vw;
    padding-top: 1vh;
    margin-bottom: 2vh;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.contenedor_botones_inferiores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boton_editar{
    width: 8vw;
    height: 5vh;
    margin-right: 1vw;
}
 .boton_crear {
    width: 8vw;
    height: 5vh;
    margin-left: 1vw;
 }

 .contenedor_botones_inferiores button {
    box-shadow: 1px 4px #000;
    transition: all .325s ease;
    position: relative;
    border-radius: 50px;
    font-size: 70%;
 }

 .contenedor_botones_inferiores button:hover {
    transform: translateY(2px);
    box-shadow: 1px 1.5px #000;
    cursor: pointer;
 }


/* --------------------------------------------------------- */

.titulo_campo{
    display: flex;
    align-items: center;
    padding-left: 2vw;
    height: 5vh;
    border-bottom: 3px solid #000;
}

.titulo_campo:hover{
    cursor: pointer;
}

.ocultar_botones{
    transition-duration: 0.3s;
    opacity: 0;
    visibility: hidden;
}

.reducir_cuadro{ 
    transition-duration: 0.5s;
    height: 5vh;
}

.aumentar_titulo {
    border-bottom: 0;
}

/* --------------------------------------------------------- */

footer {
    position: absolute;
    width: 100%;
    margin-top: 20vh;
    display: flex;
    justify-content: right;
}

/* _________________________________________________________ */


.contenedor_corte_porcentaje {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.porcentaje_corte {
    grid-column: 2 / 4;
    padding-left: 60px;
}

.contenedor_nota {
    display: grid;
    grid-template-columns: 80px 1fr 1fr;
}

.numero_nota {
    grid-column: 1 / 2;
}

.valor_nota {
    grid-column: 2 / 3;
    text-align: left;
}

.porcentaje_nota {
    grid-column: 3 / 4;
    padding-left: 31px;
}
