.contenedor_universal{
    margin-top: 15vh;  /* importante !!!!!!*/
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}

/*--------------------------------------------------------*/

footer {
    position: absolute;
    width: 100%;
    margin-top: 18vh;
    display: flex;
    justify-content: right;
}