.contenedor_universal{
    margin-top: 15vh;  /* importante !!!!!!*/
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}

/* --------------------------------------------------------- */

.contenedor_cuadros{
    width: 70%;
    height: 50vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    transition: height 0.5s;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000 !important;
}

.contenedor_cuadros:first-child{
    border: 3px solid #000;
    border-radius: 15px 15px 0 0;
}

.contenedor_cuadros:last-child{
    border-bottom: 3px solid #000;
    border-radius: 0 0 15px 15px;
}

.contenedor_cuadros:first-child .titulo_campo{
    border-radius: 15px 15px 0 0;
}

.contenedor_cuadros:last-child .contenedor_botones{
    border-radius: 0 0 15px 15px;
}

/* --------------------------------------------------------- */

.contenedor_botones {
    background-color: #D3D3D3;
    height: 90%;   
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
}

.contenedor_botones > div{
    width: 30vw;
    margin-top: 2vh;
}

/* --------------------------------------------------------- */

.nombre_materia {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtrar_materia {
    width: 30vw;
    border-radius: 10px 10px 0 0;
    padding-left: 1vw;
    border: 1px solid #000;
    margin-bottom: -2vh;
    background-color: #fff;
}

.contenedor_materias {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    overflow-y: scroll;
    height: 20vh;
    background-color: #fff;
    padding-left: 1vw;
    padding-top: 1vh;
    margin-bottom: 2vh;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.contenedor_botones_inferiores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boton_editar{
    border-radius: 50px;
    width: 8vw;
    height: 4vh;
    margin-right: 1vw;
    box-shadow: 1px 4px #000;
    transition: all .325s ease;
    position: relative;
}

.boton_editar:hover{
    transform: translateY(2px);
    box-shadow: 1px 1.5px #000;
    cursor: pointer;
}

 .boton_crear {
    width: 8vw;
    height: 5vh;
    margin-left: 1vw;
 }

 .contenedor_botones_inferiores button {
    box-shadow: 1px 4px #000;
    transition: all .325s ease;
    position: relative;
    border-radius: 50px;
    font-size: 70%;
 }

 .contenedor_botones_inferiores button:hover {
    transform: translateY(2px);
    box-shadow: 1px 1.5px #000;
    cursor: pointer;
 }


/* --------------------------------------------------------- */

.titulo_campo{
    display: flex;
    align-items: center;
    padding-left: 2vw;
    height: 5vh;
    border-bottom: 3px solid #000;
}

.titulo_campo:hover{
    cursor: pointer;
}

.ocultar_botones{
    transition-duration: 0.3s;
    opacity: 0;
    visibility: hidden;
}

.reducir_cuadro{ 
    transition-duration: 0.5s;
    height: 5vh;
}

.aumentar_titulo {
    border-bottom: 0;
}

/* --------------------------------------------------------- */

footer {
    position: absolute;
    width: 100%;
    margin-top: 20vh;
    display: flex;
    justify-content: right;
}

/* _________________________________________________________ */


.contenedor_Cambio_Notas {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    margin-left: 5vw;
}

.contenedor_corte_porcentaje{
    width: 50vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.contenedor_corte_porcentaje .nombre_materia{
    display: flex;
    justify-content: left;
    height: 8vh;
}

.contenedor_corte_porcentaje div{
    display: flex;
    justify-content: left;
    width: 20vw;
}

.contenedor_nota {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3vh;
    margin-top: 2vh;
    width: 34vw;
}

.contenedor_nota div{
    display: flex;
    justify-content: center;
}

.numero_corte{
    padding-left: 2.4vw;
}

.porcentaje_corte {
    margin-right: 3vw;
}

/* _____________ Inputs edit period ___________________*/

.contenedor_Cambio_Notas input {
    height: 3vh;
    border-radius: 10px 10px 10px 10px;
    border: 1.5px solid #000;
    box-shadow: 1px 1.5px #000;
    padding-left: 0.5vw;
    background-color: #fff;
}

.guardar_cancelar{
    display: flex;
    flex-direction: row;
    margin-top: 3.1vh;
    margin-bottom: 3.1vh;
    margin-left: 2vw;
}

.guardar_cancelar button{
    height: 3vh;
    width: 4vw;
    border-radius: 50px;
    margin-right: 1vw;
    box-shadow: 1px 4px #000;
    transition: all .325s ease;
    position: relative;
}

.guardar_cancelar button:hover {
    transform: translateY(2px);
    box-shadow: 1px 1.5px #000;
    cursor: pointer;
}

.input_nombre_materia {
    width: 10vw;
}

.texto_nota input {
    width: 2.5vw;
}

.corte_editar_nota {
    margin-left: 5.2vw;
}

.input_porcentaje_corte {
    width: 2.5vw;
}

