.main_container{
    margin-top: 15vh;
    height: 78vh;
    overflow-y: scroll;
}

.main_title{
    text-align: center;
    font-weight: 500;
    margin-top: 1vh;
    font-size: 5vh;
}


.horizontal_line{
    background-color: black;
    height: 2.5px;
    width: 65vw;
    margin-bottom: 2vh;
}

.text{
    text-align:justify;
    font-size: 2vh;
    width: 70vw;
    margin-left: 15vw;
    margin-bottom: 5vh;
}

.subtitle{
    font-size: 3vh;
    width: 70vw;
    margin-left: 15vw;
    margin-bottom: 2vh;
    text-decoration: underline;
    font-weight: 500;
}