@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=GFS+Didot&family=PT+Serif&family=Roboto&display=swap');

* {
    font-family: 'Roboto';
}

body {
    width: 100%;
    height: 100%;
    background-color: #9BC5EC;
    overflow-x: hidden;
}

footer {
    position: fixed;
    right: 5%;
    bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    margin-bottom: 2vh;
    width: 100%;
    z-index: 150;
}

.imagen_logo_backbone {
    width: 45px;
    height: 45px;
    position: sticky;
}