*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav_menu{
    background-color: #2B4863;
    border-radius: 0 0 30px 30px;
    width: 100vw;
}

.nav_menu .nav_menu_lista{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_menu .nav_menu_lista li{
    flex-grow: 1;
    list-style: none;

    display: flex;
    justify-content: center;
}

.nav_menu .nav_menu_lista .contenedor_imagen{
    flex-grow: 0;
}


.nav_menu .nav_menu_lista li a{
    text-decoration-line: none;
    color: #fff;
    padding-bottom: 3px ;
    border-bottom: #fff solid 2px;
}
