*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav_menu{
    background-color: #2B4863;
    border-radius: 0 0 30px 30px;
    width: 100vw;
}

.nav_menu .nav_menu_lista{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    margin-left: 5%;
}

.nav_menu .nav_menu_lista .contenedor_imagen{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: -10%;
}

.nav_menu .nav_menu_lista .contenedor_imagen img{
    width: 40%;
    height: 40%;
}

.nav_menu .nav_menu_lista li a{
    position: relative;
    text-decoration-line: none;
    color: #fff;
    padding-bottom: 3px ;
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    font-size: 100%;
}

.nav_menu .nav_menu_lista li a:hover{
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}
