@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=GFS+Didot&family=PT+Serif&family=Roboto&display=swap');

*{
    font-family:'Roboto';
}

body{
    width: 100%;
    height: 100%;
    background-color: #9BC5EC;
    overflow-x: hidden;
}

footer{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 2vh;
    position: relative;
}

.imagen_logo_backbone{
    width: 5vw;
    height: 5vh;
    position: sticky;
}