/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/styles/card.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.card-container {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    max-height: 550px;
    min-height: 550px;
    min-width: 300px;
    max-width: 300px;
    overflow-x: auto;
    overflow-y: auto;
    border-radius: 0.5rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(23 19 53 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(23 18 77 / var(--tw-bg-opacity));
    padding: 1rem;
    text-align: justify;
    font-size: 1.25rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    transition-duration: 0.5s;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}
  
